body {
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

.main {
    margin-top: 18%;
    height: 256px;
    width: 540px;
    display: inline-block;

}

.select {

    background-color: #224CDF;
    height: 256px;
    width: 540px;
    border-radius: 10px

}
.select_info{
    padding-top: 8%
}
.sel {
    color: #fff;
    margin-top: -5%;
    margin-bottom: 60px;
    font-size: 24px;


}

a {

    border-radius: 8px;
    background-color: #fff;
    color:  #224CDF;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin: 0 20px;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}
.in {
    margin-top: 3%;
    margin-bottom: 20px;
    width: 245px;
}

.in_1 {
    text-decoration: none;
    background-color: #224CDF;
    color: #fff;
    font-size: 16px;
    opacity: 0.6
}
input {
        border-radius: 5px;
        width: 257px;
        height: 30px;
        margin-bottom: 5px
}